.answers__button {
  outline: none;
  background-color: rgb(235, 227, 219);
  cursor: pointer;
  border: none;
  padding: 1rem;
  margin: 0.5rem;
  width: 95%;
  height: 100%;
  /* font-size: 50%; */
}

.answers__button:active {
  background-color: rgb(219, 211, 203);
}