.landing__Background {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
}

.landing__Background h2 {
  padding-left: 5rem;
}

#landing__StartButton {
  margin-right: 10rem;
}