#thequiz__Card {
  background-color: rgb(247, 240, 232);
  padding: 2rem;
  margin: 1rem;
  /* border: black solid; */
}

#thequiz__Button {
  background-color: azure;
  margin-left: 27vw;
}

#thequiz__Button:target {
  border: rgb(206, 201, 196);
}

.thequiz__Question {
  padding: 1rem;
  padding-top: 0rem;
  text-align: center;
  font-size: larger;
}

.thequiz__AContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* align-items: center; */
}

.thequiz__SuperContainer {
  /* border: turquoise solid; */
  justify-content: center;
}