#thequiz__Card {
  background-color: rgb(247, 240, 232);
  padding: 2rem;
  margin: 1rem;
  /* border: black solid; */
}

#thequiz__Button {
  background-color: azure;
  margin-left: 27vw;
}

#thequiz__Button:target {
  border: rgb(206, 201, 196);
}

.thequiz__wrapper {
  display: grid;
}

.thequiz__SuperContainer {
  /* border: turquoise solid; */
  justify-content: center;
  grid-column: 1;
  padding: 3rem;
  /* min-width: 100vw; */
  /* max-width: 80vw; */
}

.thequiz__Question {
  padding: 1rem;
  padding-top: 0rem;
  text-align: center;
  font-size: larger;
}

.thequiz__AContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, 50%);
  grid-auto-flow: row ;
  /* border: solid; */
}
